<h3 style="color: #928F90;">Services</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-ces">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="no-text-decoration">
          Building Commissioning
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <ul class="side-nav-ces">
        	<li><%= link_to 'Total Building Commissioning', '#' %></li>
        	<li><%= link_to 'LEED Commissioning', '#' %></li>
        	<li><%= link_to 'Existing Building Commissioning', '#' %></li>
        	<li><%= link_to 'Testing and Balancing', '#' %></li>
        	<li><%= link_to 'System Manuals', '#' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-ces">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Industrial Commissioning
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <ul class="side-nav-ces">
        	<li><%= link_to 'Heat and Power Plant (UBC and UNBC)', '#' %></li>
        	<li><%= link_to 'Laboratory High Containment Facilities', '#' %></li>
        	<li><%= link_to 'High Voltage Substations', '#' %></li>
        	<li><%= link_to 'Decon Chambers', '#' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-ces">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Measurement and Verification
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <ul class="side-nav-ces">
        	<li><%= link_to 'Retrofit M&V - IPMVP Option B', '#' %></li>
        	<li><%= link_to 'Whole Building - IPMVP Option C', '#' %></li>
        	<li><%= link_to 'Whole Building Simulated Calibration - Option D', '#' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-ces">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Energy Performance
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <ul class="side-nav-ces">
        	<li><%= link_to 'Incentive Management', '#' %></li>
        	<li><%= link_to 'Energy Studies', '#' %></li>
        	<li><%= link_to 'Building Energy Simulation', '#' %></li>
        	<li><%= link_to 'Inverse Modelling and Performance Benchmarking', '#' %></li>
        	<li><%= link_to 'Real versus Estimated Energy Consumption', '#' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-ces">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Continuous Optimization
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <ul class="side-nav-ces">
        	<li><%= link_to 'Continuous Optimization', '#' %></li>
        	<li><%= link_to 'Monitoring Based Commissioning', '#' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-ces">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          MEP Design Services
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        <ul class="side-nav-ces">
        	<li><%= link_to 'Retrofit Design', '#' %></li>
        	<li><%= link_to 'New Construction Design', '#' %></li>
        	<li><%= link_to 'Design Build Projects', '#' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-ces">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Sustainability Management
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        <ul class="side-nav-ces">
        	<li><%= link_to 'BOMA BESt Certification', '#' %></li>
        	<li><%= link_to 'LEED Certification', '#' %></li>
        	<li><%= link_to 'Policies Management', '#' %></li>
        	<li><%= link_to 'Behavior Changes', '#' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ul>
	<li><%= link_to 'Building Commissioning', services_building_commissioning_path %></li>
	<li><%= link_to 'Industrial Commissioning', services_industrial_commissioning_path %></li>
	<li><%= link_to 'Measurement and Verification', services_measurement_and_verification_path %></li>
	<li><%= link_to 'Energy Performance', services_energy_performance_path %></li>
	<li><%= link_to 'Continuous Optimization', services_continuous_optimization_path %></li>
	<li><%= link_to 'MEP Design Services', services_mep_design_services_path %></li>
	<li><%= link_to 'Sustainability Management', services_sustainability_management_path %></li>
</ul>