<h2>Services</h2>
<ul>
	<li><%= link_to 'Building Commissioning', services_building_commissioning_path %></li>
	<li><%= link_to 'Industrial Commissioning', services_industrial_commissioning_path %></li>
	<li><%= link_to 'Measurement and Verification', services_measurement_and_verification_path %></li>
	<li><%= link_to 'Energy Performance', services_energy_performance_path %></li>
	<li><%= link_to 'Continuous Optimization', services_continuous_optimization_path %></li>
	<li><%= link_to 'MEP Design Services', services_mep_design_services_path %></li>
	<li><%= link_to 'Sustainability Management', services_sustainability_management_path %></li>
</ul>
