<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1><%= content_for(:title, "Building Commissioning") %> Building Commissioning</h1>
		<%= image_tag 'buildingcx-main.png', class: "img-responsive" %>
		<div class="row">
			<div class="col-md-4">
				<%= image_tag 'totalbuildingcx.png', class: "img-responsive" %>
			</div>
			<div class="col-md-4">
				<%= image_tag 'leedcx.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>