<%= content_for(:title, "Welcome to CES Engineering Website") %>
<%= render 'home/slideshow' %>
<br>
<div class="row">
  <div class="col-md-3">
  	<%= image_tag 'home-page-building-commissioning.png', class: "img-responsive" %>
  </div>
  <div class="col-md-3">
  	<%= image_tag 'home-page-industrial-commissioning.png', class: "img-responsive" %>
  </div>
  <div class="col-md-3">
  	<%= image_tag 'home-page-m-and-v.png', class: "img-responsive" %>
  </div>
  <div class="col-md-3">ENERGY PERFORMANCE</div>
</div>
<br>
<div class="row">
  <div class="col-md-3">CONTINUOUS OPTIMIZATION</div>
  <div class="col-md-3">ENERGY MANAGEMENT INFORMATION SYSTEMS</div>
  <div class="col-md-3">RETROFIT DESIGN</div>
  <div class="col-md-3">SUSTAINABILITY MANAGEMENT</div>
</div>
