<h3 style="color: #928F90;">Portfolio</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-ces">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Total Building Commissioning
        </a>
      </h4>
    </div>

    <% if current_page?('/portfolio/total_building_commissioning') || current_page?('/portfolio/vancouver_international_airport') || current_page?('/portfolio/st_mary_hospital_expansion') || current_page?('/portfolio/woodward_hill_elementary_school') || current_page?('/portfolio/national_research_centre') %>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
    <% else %>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <% end %>

      <div class="panel-body">
        <ul class="side-nav-ces">
          <% if current_page?('/portfolio/vancouver_international_airport') %>
            <li class="active"><%= link_to 'Vancouver International Airport', portfolio_vancouver_international_airport_path %></li>
          <% else %>
            <li><%= link_to 'Vancouver International Airport', portfolio_vancouver_international_airport_path %></li>
          <% end %>

          <% if current_page?('/portfolio/st_mary_hospital_expansion') %>
            <li class="active"><%= link_to 'St Mary Hospital Expansion Building', portfolio_st_mary_hospital_expansion_path %></li>
          <% else %>
            <li><%= link_to 'St Mary Hospital Expansion Building', portfolio_st_mary_hospital_expansion_path %></li>
          <% end %>

          <% if current_page?('/portfolio/woodward_hill_elementary_school') %>
            <li class="active"><%= link_to 'Woodward Hill Elementary School', portfolio_woodward_hill_elementary_school_path %></li>
          <% else %>
            <li><%= link_to 'Woodward Hill Elementary School', portfolio_woodward_hill_elementary_school_path %></li>
          <% end %>

          <% if current_page?('/portfolio/national_research_centre') %>
            <li class="active"><%= link_to 'National Research Centre', portfolio_national_research_centre_path %></li>
          <% else %>
            <li><%= link_to 'National Research Centre', portfolio_national_research_centre_path %></li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-ces">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          LEED Commissioning
        </a>
      </h4>
    </div>

    <% if current_page?('/portfolio/leed_commissioning') || current_page?('/portfolio/ubc_life_sciences_center') || current_page?('/portfolio/electronic_arts_studio') || current_page?('/portfolio/bc_hydro_office_towers') || current_page?('/portfolio/district_educational_centre') || current_page?('/portfolio/living_shangri_la') || current_page?('/portfolio/telus_centre') %>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
    <% else %>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
    <% end %>
      <div class="panel-body">
        <ul class="side-nav-ces">

          <% if current_page?('/portfolio/ubc_life_sciences_center') %>
            <li class="active"><%= link_to 'University of British Columbia', portfolio_ubc_life_sciences_center_path %></li>
          <% else %>
            <li><%= link_to 'University of British Columbia', portfolio_ubc_life_sciences_center_path %></li>
          <% end %>

          <% if current_page?('/portfolio/electronic_arts_studio') %>
            <li class="active"><%= link_to 'Electronic Arts Studio', portfolio_electronic_arts_studio_path %></li>
          <% else %>
            <li><%= link_to 'Electronic Arts Studio', portfolio_electronic_arts_studio_path %></li>
          <% end %>

        	<% if current_page?('/portfolio/bc_hydro_office_towers') %>
            <li class="active"><%= link_to 'BC Hydro Office Towers Renovations', portfolio_bc_hydro_office_towers_path %></li>
          <% else %>
            <li><%= link_to 'BC Hydro Office Towers Renovations', portfolio_bc_hydro_office_towers_path %></li>
          <% end %>
        	
          <% if current_page?('/portfolio/district_educational_centre') %>
            <li class="active"><%= link_to 'District Educational Centre', portfolio_district_educational_centre_path %></li>
          <% else %>
            <li><%= link_to 'District Educational Centre', portfolio_district_educational_centre_path %></li>
          <% end %>

          <% if current_page?('/portfolio/living_shangri_la') %>
            <li class="active"><%= link_to 'Living Shangri-La', portfolio_living_shangri_la_path %></li>
          <% else %>
            <li><%= link_to 'Living Shangri-La', portfolio_living_shangri_la_path %></li>
          <% end %>

          <% if current_page?('/portfolio/telus_centre') %>
            <li class="active"><%= link_to 'Telus Centre', portfolio_telus_centre_path %></li>
          <% else %>
            <li><%= link_to 'Telus Centre', portfolio_telus_centre_path %></li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-ces">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Existing Building Commissioning
        </a>
      </h4>
    </div>
    
    <% if current_page?('/portfolio/existing_building_commissioning') || current_page?('/portfolio/british_columbia_cancer_research_centre') || current_page?('/portfolio/st_mary_hospital_existing_building') || current_page?('/portfolio/university_of_northern_british_columbia') || current_page?('/portfolio/south_peace_community_multiplex') %>
      <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingthree">
    <% else %>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingthree">
    <% end %>

      <div class="panel-body">
        <ul class="side-nav-ces">

          <% if current_page?('/portfolio/british_columbia_cancer_research_centre') %>
            <li class="active"><%= link_to 'British Columbia Cancer Research Centre', portfolio_british_columbia_cancer_research_centre_path %></li>
          <% else %>
            <li><%= link_to 'British Columbia Cancer Research Centre', portfolio_british_columbia_cancer_research_centre_path %></li>
          <% end %>
        	
          <% if current_page?('/portfolio/st_mary_hospital_existing_building') %>
            <li class="active"><%= link_to 'St. Mary\'s Hospital Existing Building', portfolio_st_mary_hospital_existing_building_path %></li>
          <% else %>
            <li><%= link_to 'St. Mary\'s Hospital Existing Building', portfolio_st_mary_hospital_existing_building_path %></li>
          <% end %>

          <% if current_page?('/portfolio/university_of_northern_british_columbia') %>
            <li class="active"><%= link_to 'University of Northern British Columbia', portfolio_university_of_northern_british_columbia_path %></li>
          <% else %>
            <li><%= link_to 'University of Northern British Columbia', portfolio_university_of_northern_british_columbia_path %></li>
          <% end %>
        	
          <% if current_page?('/portfolio/south_peace_community_multiplex') %>
            <li class="active"><%= link_to 'South Peace Community Multiplex', portfolio_south_peace_community_multiplex_path %></li>
          <% else %>
            <li><%= link_to 'South Peace Community Multiplex', portfolio_south_peace_community_multiplex_path %></li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-ces">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Industrial Commissioning
        </a>
      </h4>
    </div>

    <% if current_page?('/portfolio/industrial_commissioning') || current_page?('/portfolio/bioenergy_gasification_heating_plant') || current_page?('/portfolio/biomass_fueled_combined_heat_and_power') || current_page?('/portfolio/continuous_effluent_decontamination') || current_page?('/portfolio/decontamination_chamber') %>
      <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
    <% else %>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
    <% end %>

      <div class="panel-body">
        <ul class="side-nav-ces">

          <% if current_page?('/portfolio/bioenergy_gasification_heating_plant') %>
            <li class="active"><%= link_to 'Bioenergy Gasification Heating Plant', portfolio_bioenergy_gasification_heating_plant_path %></li>
          <% else %>
            <li><%= link_to 'Bioenergy Gasification Heating Plant', portfolio_bioenergy_gasification_heating_plant_path %></li>
          <% end %>

          <% if current_page?('/portfolio/biomass_fueled_combined_heat_and_power') %>
            <li class="active"><%= link_to 'Biomass Fueled Combined Heat and Power Plant', portfolio_biomass_fueled_combined_heat_and_power_path %></li>
          <% else %>
            <li><%= link_to 'Biomass Fueled Combined Heat and Power Plant', portfolio_biomass_fueled_combined_heat_and_power_path %></li>
          <% end %>

          <% if current_page?('/portfolio/continuous_effluent_decontamination') %>
            <li class="active"><%= link_to 'Continuous Effluent Decontamination', portfolio_continuous_effluent_decontamination_path %></li>
          <% else %>
            <li><%= link_to 'Continuous Effluent Decontamination', portfolio_continuous_effluent_decontamination_path %></li>
          <% end %>

          <% if current_page?('/portfolio/decontamination_chamber') %>
            <li class="active"><%= link_to 'Decontamination Chamber', portfolio_decontamination_chamber_path %></li>
          <% else %>
            <li><%= link_to 'Decontamination Chamber', portfolio_decontamination_chamber_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-ces">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Laboratory Containment
        </a>
      </h4>
    </div>

    <% if current_page?('/portfolio/laboratory_containment_facility') || current_page?('/portfolio/ubc_life_sciences_center_laboratory') || current_page?('/portfolio/sfu_blusson_hall_laboratory') || current_page?('/portfolio/bc_cancer_research_laboratory_containment') || current_page?('/portfolio/bc_center_for_disease_control') %>
      <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
    <% else %>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
    <% end %>

      <div class="panel-body">
        <ul class="side-nav-ces">

          <% if current_page?('/portfolio/ubc_life_sciences_center_laboratory') %>
            <li class="active"><%= link_to 'University of British Columbia', portfolio_ubc_life_sciences_center_laboratory_path %></li>
          <% else %>
            <li><%= link_to 'University of British Columbia', portfolio_ubc_life_sciences_center_laboratory_path %></li>
          <% end %>

          <% if current_page?('/portfolio/sfu_blusson_hall_laboratory') %>
            <li class="active"><%= link_to 'Simon Fraser University', portfolio_sfu_blusson_hall_laboratory_path %></li>
          <% else %>
            <li><%= link_to 'Simon Fraser University', portfolio_sfu_blusson_hall_laboratory_path %></li>
          <% end %>

          <% if current_page?('/portfolio/bc_cancer_research_laboratory_containment') %>
            <li class="active"><%= link_to 'BC Cancer Research Centre', portfolio_bc_cancer_research_laboratory_containment_path %></li>
          <% else %>
            <li><%= link_to 'BC Cancer Research Centre', portfolio_bc_cancer_research_laboratory_containment_path %></li>
          <% end %>

          <% if current_page?('/portfolio/bc_center_for_disease_control') %>
            <li class="active"><%= link_to 'BC Center for Disease Control', portfolio_bc_center_for_disease_control_path %></li>
          <% else %>
            <li><%= link_to 'BC Center for Disease Control', portfolio_bc_center_for_disease_control_path %></li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-ces">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Measurement and Verification
        </a>
      </h4>
    </div>

    <% if current_page?('/portfolio/measurement_and_verification') || current_page?('/portfolio/centre_of_excellence_for_clean_energy') || current_page?('/portfolio/st_mary_hospital_expansion_2') || current_page?('/portfolio/abbotsford_collegiate_school') || current_page?('/portfolio/carson_graham_secondary_school') %>
      <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
    <% else %>
      <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
    <% end %>

      <div class="panel-body">
        <ul class="side-nav-ces">

          <% if current_page?('/portfolio/centre_of_excellence_for_clean_energy') %>
            <li class="active"><%= link_to 'Centre of Excellence for Clean Energy Technology', portfolio_centre_of_excellence_for_clean_energy_path %></li>
          <% else %>
            <li><%= link_to 'Centre of Excellence for Clean Energy Technology', portfolio_centre_of_excellence_for_clean_energy_path %></li>
          <% end %>

          <% if current_page?('/portfolio/st_mary_hospital_expansion_2') %>
            <li class="active"><%= link_to 'St. Mary Hospital Expansion', portfolio_st_mary_hospital_expansion_2_path %></li>
          <% else %>
            <li><%= link_to 'St. Mary Hospital Expansion', portfolio_st_mary_hospital_expansion_2_path %></li>
          <% end %>

        	<% if current_page?('/portfolio/abbotsford_collegiate_school') %>
            <li class="active"><%= link_to 'Abbotsford Collegiate School', portfolio_abbotsford_collegiate_school_path %></li>
          <% else %>
            <li><%= link_to 'Abbotsford Collegiate School', portfolio_abbotsford_collegiate_school_path %></li>
          <% end %>

          <% if current_page?('/portfolio/carson_graham_secondary_school') %>
            <li class="active"><%= link_to 'Carson Graham Secondary School', portfolio_carson_graham_secondary_school_path %></li>
          <% else %>
            <li><%= link_to 'Carson Graham Secondary School', portfolio_carson_graham_secondary_school_path %></li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-ces">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Energy Analysis
        </a>
      </h4>
    </div>
    
    <% if current_page?('/portfolio/energy_analysis') || current_page?('/portfolio/st_mary_hospital_existing_building_2') || current_page?('/portfolio/hot_water_boiler_plant_optimization') || current_page?('/portfolio/british_columbia_cancer_research_centre_2') || current_page?('/portfolio/richmond_lexus_dealership') || current_page?('/portfolio/tsawwassen_spring_apartment_building') || current_page?('/portfolio/west_pender_social_housing') %>
      <div id="collapseSeven" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSeven">
    <% else %>
      <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
    <% end %>
      <div class="panel-body">
        <ul class="side-nav-ces">
        	
          <% if current_page?('/portfolio/st_mary_hospital_existing_building_2') %>
            <li class="active"><%= link_to 'St Mary Hospital Existing Building', portfolio_st_mary_hospital_existing_building_2_path %></li>
          <% else %>
            <li><%= link_to 'St Mary Hospital Existing Building', portfolio_st_mary_hospital_existing_building_2_path %></li>
          <% end %>

          <% if current_page?('/portfolio/hot_water_boiler_plant_optimization') %>
            <li class="active"><%= link_to 'Hot Water Boiler Plant Optimization', portfolio_hot_water_boiler_plant_optimization_path %></li>
          <% else %>
            <li><%= link_to 'Hot Water Boiler Plant Optimization', portfolio_hot_water_boiler_plant_optimization_path %></li>
          <% end %>

          <% if current_page?('/portfolio/british_columbia_cancer_research_centre_2') %>
            <li class="active"><%= link_to 'BC Cancer Research Centre', portfolio_british_columbia_cancer_research_centre_2_path %></li>
          <% else %>
            <li><%= link_to 'BC Cancer Research Centre', portfolio_british_columbia_cancer_research_centre_2_path %></li>
          <% end %>

          <% if current_page?('/portfolio/richmond_lexus_dealership') %>
            <li class="active"><%= link_to 'Richmond Lexus Dealership', portfolio_richmond_lexus_dealership_path %></li>
          <% else %>
            <li><%= link_to 'Richmond Lexus Dealership', portfolio_richmond_lexus_dealership_path %></li>
          <% end %>

          <% if current_page?('/portfolio/tsawwassen_spring_apartment_building') %>
            <li class="active"><%= link_to 'Tsawwassen Spring Apartment Building Complex', portfolio_tsawwassen_spring_apartment_building_path %></li>
          <% else %>
            <li><%= link_to 'Tsawwassen Spring Apartment Building Complex', portfolio_tsawwassen_spring_apartment_building_path %></li>
          <% end %>

          <% if current_page?('/portfolio/west_pender_social_housing') %>
            <li class="active"><%= link_to '337 West Pender Social Housing Residential Tower', portfolio_west_pender_social_housing_path %></li>
          <% else %>
            <li><%= link_to '337 West Pender Social Housing Residential Tower', portfolio_west_pender_social_housing_path %></li>
          <% end %>
          
        </ul>
      </div>
    </div>
  </div>
</div>