<h2>Portfolio</h2>
<ul>
	<li><%= link_to 'Total Building Commissioning', portfolio_total_building_commissioning_path %></li>
	<li><%= link_to 'LEED Commissioning', portfolio_leed_commissioning_path %></li>
	<li><%= link_to 'Existing Building Commissioning', portfolio_existing_building_commissioning_path %></li>
	<li><%= link_to 'Industrial Commissioning', portfolio_industrial_commissioning_path %></li>
	<li><%= link_to 'Laboratory Containment', portfolio_laboratory_containment_facility_path %></li>
	<li><%= link_to 'Measurement and Verification', portfolio_measurement_and_verification_path %></li>
	<li><%= link_to 'Energy Analysis', portfolio_energy_analysis_path %></li>
</ul>
