<%= content_for(:title, "Energy Analysis") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Energy Analysis - French</h1>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_st_mary_hospital_existing_building_2_path do %>
							<%= image_tag 'st-mary-2.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_hot_water_boiler_plant_optimization_path do %>
							<%= image_tag 'hot-water.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_british_columbia_cancer_research_centre_2_path do %>
							<%= image_tag 'bc-cancer-2.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_richmond_lexus_dealership_path do %>
							<%= image_tag 'lexus.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_tsawwassen_spring_apartment_building_path do %>
							<%= image_tag 'tsawwassen.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_west_pender_social_housing_path do %>
							<%= image_tag 'west-pender.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<%= image_tag 'portfolio-side-pic-2.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>