<%= content_for(:title, "Industrial Commissioning") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Industrial Commissioning - French</h1>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_bioenergy_gasification_heating_plant_path do %>
							<%= image_tag 'bioenergy.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_biomass_fueled_combined_heat_and_power_path do %>
							<%= image_tag 'biomass-fueled.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_continuous_effluent_decontamination_path do %>
							<%= image_tag 'continuous-effluent.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_decontamination_chamber_path do %>
							<%= image_tag 'decontamination.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<%= image_tag 'industrial-side-pic.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>