<%= content_for(:title, "Laboratory Containment Facility") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Laboratory Containment Facility - French</h1>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_ubc_life_sciences_center_laboratory_path do %>
							<%= image_tag 'ubc.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_sfu_blusson_hall_laboratory_path do %>
							<%= image_tag 'sfu.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_bc_cancer_research_lcontainment_path do %>
							<%= image_tag 'bc-cancer.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_bc_center_for_disease_control_path do %>
							<%= image_tag 'bc-disease.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<%= image_tag 'laboratory-side-pic.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>