<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1>LEED Commissioning</h1>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_ubc_life_sciences_center_path do %>
							<%= image_tag 'ubc-portfolio.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_electronic_arts_studio_path do %>
							<%= image_tag 'electronic-arts.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_bc_hydro_office_towers_path do %>
							<%= image_tag 'bc-hydro.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_district_educational_centre_path do %>
							<%= image_tag 'district-edu-center.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_living_shangri_la_path do %>
							<%= image_tag 'living-shangri-la.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_telus_centre_path do %>
							<%= image_tag 'telus-centre.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<%= image_tag 'leed-cx-portfolio-side.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>