<%= content_for(:title, "Measurement and Verification") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Measurement and Verification - French</h1>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_centre_of_excellence_for_clean_energy_path do %>
							<%= image_tag 'centre-of-excellence.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_st_mary_hospital_expansion_2_path do %>
							<%= image_tag 'st-mary.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_abbotsford_collegiate_school_path do %>
							<%= image_tag 'abby.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<%= link_to portfolio_carson_graham_secondary_school_path do %>
							<%= image_tag 'car.png', class: "img-responsive" %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<%= image_tag 'mv-side-pic.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>