<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1>Measurement and Verification</h1>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<%= image_tag 'vancouver-airport.png', class: "img-responsive" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<%= image_tag 'vancouver-airport.png', class: "img-responsive" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<%= image_tag 'vancouver-airport.png', class: "img-responsive" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<%= image_tag 'vancouver-airport.png', class: "img-responsive" %>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<%= image_tag 'portfolio-side-pic.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>