<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <% if user_signed_in? %>
      <p style="font-size: 12px; color: grey;">Welcome, <%= current_user.email %></p>
      <%= link_to 'Create Blog Post', new_post_path, class: "btn btn-success" %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-info" %>
    <% end %>
    <%= render 'posts/side_nav' %>
  </div>
  <div class="col-md-9">
    <h1>Blog</h1>
    <% @posts.each do |post| %>
      <h3><%= post.title %></h3>
      <%= image_tag post.image_url, class: "img-responsive" if post.image? %>
      <p><br><%= post.description %></p>
      <% if user_signed_in? %>
        <p style="font-size: 12px; color: grey;">Post published <%= time_ago_in_words(post.created_at) %> ago.</p>
        <div class="btn-group btn-group-sm">
          <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
      <% end %>
      <br>
    <% end %>
  </div>
</div>
