<%= form_for(@ces_news, :html => {:multipart => true}) do |f| %>
  <% if @ces_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ces_news.errors.count, "error") %> prohibited this ces_news from being saved:</h2>

      <ul>
      <% @ces_news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
